<ion-view view-title="Chat" cache-view="false">
    <ion-header-bar align-title="left" class="bar-calm primarybg">
        <div class="buttons">
            <button class="button button-icon button-clear ion-chevron-left" ng-click="gotochatlist()">
            </button>
        </div>
        <h1 class="title">{{recievername}}</h1>
    </ion-header-bar>
    <ion-content class="has-header">

        <div class="chatdiv">

            <div class="extradiv">
            </div>

            <div class="row marginbottom0" ng-repeat="msg in messages">
                <div class="col col-10 paddingbottom0 paddingtop0 positionrelative">
                    <img src="{{recieverimage}}" class="leftuserimage" ng-if="msg.senderid != messages[$index+1].senderid && $index+1 == messages.length" ng-show="msg.senderid != user.userid">
                </div>
                <div class="col col-80 paddingbottom0 paddingtop0">
                    <div class="width100 textright" ng-class="{'textright':msg.senderid == user.userid, 'textleft':msg.senderid != user.userid}" ng-if="msg.image == null">
                        <div class="righttopmsg" ng-class="{'righttopmsg':msg.senderid == user.userid , 'lefttopmsg':msg.senderid != user.userid, 'rightbottommsg':msg.senderid != messages[$index+1].senderid  && msg.senderid == messages[$index-1].senderid  && msg.senderid == user.userid, 'leftbottommsg':msg.senderid != messages[$index+1].senderid && msg.senderid == messages[$index-1].senderid && msg.senderid != user.userid}">
                            <p>{{msg.message}}</p>
                        </div>
                    </div>
                    <div class="chatimagediv" ng-class="{'floatright':msg.senderid == user.userid, 'floatleft':msg.senderid != user.userid}" ng-if="msg.image != null" ng-click="showImage(msg.image)">
                        <img src="{{msg.image | imagepath}}">
                    </div>
                </div>
                <div class="col col-10 paddingbottom0 paddingtop0 positionrelative">
                    <img src="{{senderimage}}" class="rightuserimage" ng-if="msg.senderid != messages[$index+1].senderid" ng-show="msg.senderid == user.userid">
                </div>
            </div>

        </div>

        <script id="image-modal.html" type="text/ng-template">
            <ion-modal-view class="image-modal">
                <button class="button button-full button-positive primarybg" ng-click="downloadimage()">
                    Download Image
                </button>
                <ion-scroll zooming="true" direction="xy" delegate-handle="zoom-pane" class="zoom-pane" min-zoom="1" scrollbar-x="false" scrollbar-y="false" overflow-scroll="false" ng-click="closeModal()">
                    <img ng-src="{{imageSrc | imagepath}}">
                </ion-scroll>
            </ion-modal-view>
        </script>


    </ion-content>

    <div class="typeanswerdiv ">
        <div class="answerimagebox" ng-show="showimg">
            <img src="img/mobimage.jpg" id="myImage" width="96%">
        </div>
        <div class="input-field z-depth-2">
            <textarea placeholder="Type Your Answer" id="answer" class="materialize-textarea marginbottom0 typeanswerinput" ng-model="messagedata.message"></textarea>
            <a class="button button-icon icon icon-gallery primarycolor answertexticon ansgalicon answergalleryicon" ng-click="pickphoto()" style="right: 21%;"></a>
            <a class="button button-icon icon icon-camera primarycolor answertexticon answercameraicon" style="right: 11%;" ng-click="capturephoto()"></a>
            <a class="button button-icon icon icon-send-plane-blue primarycolor answertexticon " style="right: 1%;" ng-click="sendmessage()"></a>
        </div>
    </div>
</ion-view>