<ion-view view-title="Introduction">

    <ion-content scroll="false" class="introbg">
        <ion-slides options="options" slider="data.slider">
            
            <ion-slide-page ng-repeat="intro in introslides">
                <div class="textcenter" style="padding:4%">
                    <img src="{{intro.introimage}}" class="introimage">
                </div>
            </ion-slide-page>

        </ion-slides>
    </ion-content>

    <a class="button button-clear button-dark primarycolor nextbutton" ng-click="gotologin()">Skip</a>

    <!--<a class="button button-icon icon ion-chevron-right primarycolor nextbutton" ng-click="next()" ng-show="slideindex == 8"></a>-->

</ion-view>
