<ion-view view-title="notlist" edge-drag-threshold="false" drag-content="true">
    <ion-header-bar align-title="left" class="bar-calm primarybg">
        <div class="buttons">
            <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="left">
            </button>
        </div>
        <h1 class="title">Notifications</h1>

    </ion-header-bar>
    <ion-content class="has-header" style="background-color: #f0f0f0;">
        <div class="shownotification">
             <span class="sendnotificationtext">Enable notifications on this device?</span>
             <label class="toggle">
               <input type="checkbox" ng-model="notification.isactive" ng-change="togglenotificationstatus()">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </div>

        <p ng-if="notifications == []">No notifications to show</p>

        <div class="card notcard" ng-repeat="not in notifications" ng-if="notifications != []">
            <div class="item item-text-wrap">
                <div class="row">
                    <div class="col col-80">
                        <h2>{{not.title}}</h2>
                    </div>
                    <div class="col col-20">
                        <h2 style="font-size: 0.8em;" class="floatright">{{not.time}}</h2>
                    </div>
                </div>
                <div class="row marginbottom0">
                    <h2>{{not.content}}</h2>
                </div>
                <div class="row notimagediv" ng-if="not.imagepath != null">
                    <div class="col">
                        <img src="{{not.imagepath}}" ng-click="showImage(not.imagepath)" class="questionimage" style="padding:0px">
                    </div>
                </div>


            </div>
        </div>

        <button class="button button-block button-positive primarybg notcard notloadbtn" ng-click="loadmorenots()" ng-disabled="!loadmoreabe">
            Load More
        </button>

        <script id="image-modal.html" type="text/ng-template">
            <ion-modal-view class="image-modal">
                <button class="button button-full button-positive primarybg" ng-click="downloadimage()">
                    Download Image
                </button>
                <ion-scroll zooming="true" direction="xy" delegate-handle="zoom-pane" class="zoom-pane" min-zoom="1" scrollbar-x="false" scrollbar-y="false" overflow-scroll="false" ng-click="closeModal()">
                    <img ng-src="{{imageSrc}}">
                </ion-scroll>
            </ion-modal-view>
        </script>

    </ion-content>
</ion-view>
