<ion-view view-title="Payment" drag-content="true">
    <ion-header-bar align-title="left" class="bar-calm primarybg">
        <div class="buttons">
            <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="left">
            </button>
        </div>
        <h1 class="title">Payment</h1>

        
    </ion-header-bar>
    <ion-content class="has-header">
    
       <!-- <p class="payment-heading">Purchase Questions</p> -->
       <div class="purchase-note-main"><div class="svg-div"><svg class="important-svg" enable-background="new 0 0 504.123 504.123" version="1.1" viewBox="0 0 504.12 504.12" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><circle cx="252.06" cy="252.06" r="252.06" fill="#E1E6E8"/><path d="m445.83 445.83-12.603-100.04c14.966-29.145 24.418-62.228 24.418-96.886-0.787-115.79-93.735-209.53-209.53-209.53s-208.74 93.735-208.74 208.74 93.735 208.74 208.74 208.74c35.446 0 68.529-8.665 96.886-24.418l100.82 13.391z" fill="#4EBD9E"/><path d="m248.12 464.74c-118.94 0-216.62-96.886-216.62-216.62s97.674-216.62 216.62-216.62c119.73 0 216.62 96.886 216.62 216.62 0 33.871-7.877 68.529-23.631 98.462l11.815 97.674c0 2.363-0.788 4.726-2.363 6.302-1.575 1.575-3.938 2.363-6.302 2.363l-97.674-11.815c-29.931 15.753-63.801 23.629-98.46 23.629zm0-417.48c-110.28 0-200.86 90.585-200.86 200.86s90.585 200.86 200.86 200.86c32.295 0 64.591-7.877 93.735-22.843 1.575-0.788 3.151-0.788 4.726-0.788l89.797 11.028-11.028-89.797c0-1.575 0-3.151 0.788-4.726 14.966-28.357 22.843-60.652 22.843-93.735 1e-3 -110.28-89.796-200.86-200.86-200.86z" fill="#183651"/><path d="m248.12 425.35c-97.674 0-177.23-79.557-177.23-177.23s79.557-177.23 177.23-177.23 177.23 79.557 177.23 177.23c0 43.323-14.178 70.892-25.206 91.372l8.665 69.317-69.317-8.665c-14.179 7.878-44.111 25.207-91.373 25.207z" fill="#fff"/><g fill="#F05F50"><polygon points="225.28 120.52 225.28 258.36 237.1 304.84 258.36 304.84 270.97 258.36 270.97 120.52"/><rect x="225.28" y="330.04" width="45.686" height="45.686"/></g><g fill="#183651"><rect x="137.85" y="183.53" width="15.754" height="15.754"/><rect x="137.85" y="240.25" width="15.754" height="15.754"/><rect x="137.85" y="296.96" width="15.754" height="15.754"/><rect x="342.65" y="183.53" width="15.754" height="15.754"/><rect x="342.65" y="240.25" width="15.754" height="15.754"/><rect x="342.65" y="296.96" width="15.754" height="15.754"/></g></svg>
       </div> <div purchase-note-div><p class="purchase-note">*Students can use ‘Questions’  to get their doubts cleared from our teachers.</p><p class="purchase-note">*After the ‘Free Question’ limit is over, students can purchase more questions here.</p></div></div>
       <p class="payment-numofquest">How many  questions would you like to purchase?</p>
        <input type="number" class="payment-input" placeholder="Enter number of Questions" ng-model="purchaseobj.numberofquestions">
        <p class="payment-note">(₹{{unitquestioncost}}/Question)</p>
        <p class="payment-amtpayable">Amount Payable : <span class="totalamount">₹{{purchaseobj.numberofquestions*unitquestioncost}}</span></p>
        <div class="payment-paybtn"><span>Pay with</span> <img src="../img/paytm.svg" alt="PAYTM"></div>
        


    </ion-content>

</ion-view>



