<ion-view view-title="Answers" edge-drag-threshold="false" drag-content="true">
    <ion-header-bar align-title="left" class="bar-calm primarybg">
        <div class="buttons">
            <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="left">
            </button>
        </div>
        <h1 class="title" style="margin-left: 50px;">Question</h1>
    </ion-header-bar>
    <ion-content class="has-header" ng-style="contentbottommargin">

        <div class="list marginbottom0 questionslist">

            <div class="item" style="padding: 0px;" disabled>

                <div class="row marginbottom0 questionrow">
                    <div class="col col-10 textcenter">
                        <img src="{{usertypes[question.qusertype - 1].image}}" width="139%" class="questionuserimage answeruserprofileimage">
                    </div>

                    <div class="col col-80 paddingbottom0 positionrelative" ng-click="gotoanswers(question.questionid, $index)">
                        <div style="margin-top: -4px;" class="question-user-wrapper">
                            <h2 class="questionuser cerafont">{{question.qusername | allcapitalize}}</h2>
                            <h6 class="timetext cerafont">{{question.time}}</h6>
                            <h2 class="lastanswereddot" ng-if="user.userstype==1 && (question.lastanswered==2 || question.lastanswered==3)"></h2>

                        </div>
                        <div class="subj-chap-div">
                            <p class="primarycolor questionsubject cerafont marginbottom0">{{question.subject}} - {{question.qchapname}}</p>
                        </div>
                    </div>

                    <div class="col col-10 paddingbottom0" ng-click="bookmarkques(question.questionid)">
                        <svg class="bookmark-icon" ng-class="{'primary-fill':question.bookmarked==1,'grey-stroke':question.bookmarked==0}" viewBox="0 0 3508 4961" xmlns="http://www.w3.org/2000/svg">
                            <path d="m910.96 1055v2692l903.04-567 886.92 567v-2692h-1790z" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-width="140px" />
                        </svg>
                    </div>
                </div>

                <!-- QUESTION WHEN NOT IN FULL IMAGE VIEW -->
                <div class="row marginbottom0 margin0" ng-if="question.imageview == 0">
                    <div class="col col-90 col-offset-10">
                        <p class="normalwhitespace questiontext cerafont" style="padding-right: 9px;font-size: 0.98em !important;font-weight: 700;">{{question.question}}
                        </p>
                    </div>
                </div>

                <!-- IMAGE -->
                <div class="row marginbottom0 margin0">
                    <div class="col col-90 col-offset-10 questionimagediv" ng-if="question.image != null" ng-class="{'autoheight':question.imageview == 1}">
                        <img src="{{question.image | imagepath}}" class="questionimage" ng-click="showImage(question.image)">
                    </div>
                </div>

                <!-- QUESTION VIDEO -->
                <div class="row" style="margin-bottom: 5px !important;" ng-click="gotoanswers(question.questionid, $index)" ng-if="question.video!=null">
                    <div class="col col-10"></div>
                    <div class="col col-90 questionvideodiv" style="margin-left: 6px;">
                        <div class="question-video-wrapper">
                            <iframe ng-src="{{question.video | youtubetrusted}}" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>

                <!-- TEXT TO COME WITH FULL IMAGE -->
                <div class="row marginbottom0" ng-if="question.imageview == 1">
                    <div class="col col-90 col-offset-10">
                        <p class="normalwhitespace questiontext cerafont" style="padding-right: 9px;font-size: 0.98em !important;font-weight: 700;">{{question.question}}
                        </p>
                    </div>

                </div>

                <div class="row" style="margin-bottom: 5px;">
                    <div class="col col-10"></div>
                    <div class="col col-90">
                        <div ng-class="{'unread-question-icons-wrapper':question.questionseen=='0'}" class="question-icons-wrapper">
                            <!--LIKES-->
                            <div class="question-icon-div">
                                <div ng-click="starquestion()" style="display: inline-block;line-height: 6px;">
                                    <svg class="like-icon question-like-icon" ng-class="{'like-icon-active':question.star, 'grey-stroke':!question.star}" width="3508" height="4961" viewBox="0 0 3508 4961">
                                        <path class="cls-1" stroke-width="140px" fill="none" stroke="#636468" stroke-linecap="round" stroke-linejoin="round" fill-rule="evenodd" d="M394,1960c-4,75.95-35.689-113.62,108-117s602,0,602,0,188.61,18.45,195,171c81.35-6.42,117-21,117-21l312-624-33-474s117.25-287.828,357-192c185.78,164.814,393.25,180.484,321,912,272.55,17.66,748.83-38.59,842,168,39.2,254.58-24.18,276.47,30,369,35.98,47.99,107.74,322.55,9,431-35.78,66.45-102.26,200.64-102,363-62.7,105.37-168.58,488.71-369,498s-1160,0-1160,0-293-172-273-168-54-2-54-2-100-59.65-160,224c-80,55.79-560,87.97-740,40C331.829,3410.08,398,1884.05,394,1960Z" />
                                        <path class="cls-2" stroke-width="142px" fill="none" stroke="#636468" stroke-linecap="round" stroke-linejoin="round" fill-rule="evenodd" d="M1288,1971s20,1270.99,0,1299" />
                                    </svg>
                                </div>
                                <p ng-click="showstarquestionusers(question.starcount)">{{ question.starcount }}</p>
                            </div>

                            <!--VIEWS-->
                            <div class="question-icon-div">
                                <svg class="view-icon red-fill" width="3508" height="4961" viewBox="0 0 3508 4961">
                                    <path class="cls-1" stroke-linecap="round" stroke-linejoin="round" fill-rule="evenodd" d="M1823,419c314.8,0,570,289,570,645.5S2137.8,1710,1823,1710s-570-289-570-645.5S1508.2,419,1823,419Z" />
                                    <path class="cls-1" stroke-linecap="round" stroke-linejoin="round" fill-rule="evenodd" d="M675,3014c321.226,194.56,1016.05,163.5,1370,144,145.47-18,806.37-155.61,860-237,2.65-18.41-86.61-521.48-264-686-345.3-362.48-704.1-291.39-1016-297-857.585,36.38-944,1061-944,1061" />
                                </svg>
                                <p ng-click="showviewedquestionusers(question.viewcount)">{{ question.viewcount }}</p>
                            </div>

                            <!--ANSWERS-->
                            <div class="question-icon-div" ng-click="showtoast_g('Answer question to activate icon')">
                                <svg width="3508" height="4961" class="answer-icon" ng-class="{'green-fill':question.answered==1}" viewBox="0 0 3508 4961">
                                    <path fill="none" stroke="#636468" stroke-linecap="round" stroke-linejoin="round" stroke-width="140px" fill-rule="evenodd" d="M284,2658V1607s16-460.48,580-600c596,4.39,1620,8,1620,8s520,32.34,600,616c4,639.63,0,999,0,999s-100,536.02-644,624c-580,8.03-668,12-668,12l-760,564s-164,19.98-168-268-4-328-4-328S284,3013.78,284,2658Z" />
                                </svg>
                                <p>{{ question.answerscount }}</p>
                            </div>

                            <!--SHARE-->
                            <div class="question-icon-div" ng-click="sharequestion()">
                                <svg viewBox="0 0 304 315" class="share-icon">
                                    <path class="cls-1" d="m33 255s-3-158.67 125-171c0.333-48.333 0-51 0-51s8-13.333 20-1 101 103 101 103 2 9-2 11c-3 3.667-105 102-105 102s-7.333 4.333-12-1c0-12.333-1-55-1-55s-63.333-15.333-106 64c-3.333 4.667-15.333 10.667-20-1z" fill="none" fill-rule="evenodd" stroke="#636468" stroke-width="16px" />
                                </svg>
                            </div>


                            <!--VERIFIED-->
                            <div class="question-icon-div" ng-click="verifyquestion()">
                                <!--VERIFIED-->
                                <svg class="question-verified" ng-class="{'grey-fill':question.verified != '1', 'light-green-fill': question.verified == '1'}" enable-background="new 0 0 191.667 191.667" version="1.1" viewBox="0 0 191.67 191.67" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                    <path d="m95.833 0c-52.842 0-95.833 42.99-95.833 95.833s42.991 95.834 95.833 95.834 95.833-42.991 95.833-95.834-42.99-95.833-95.833-95.833zm55.029 79.646-60.207 60.207c-2.56 2.56-5.963 3.969-9.583 3.969s-7.023-1.409-9.583-3.969l-30.685-30.685c-2.56-2.56-3.97-5.963-3.97-9.583 0-3.621 1.41-7.024 3.97-9.584 2.559-2.56 5.962-3.97 9.583-3.97 3.62 0 7.024 1.41 9.583 3.971l21.101 21.1 50.623-50.623c2.56-2.56 5.963-3.969 9.583-3.969s7.023 1.409 9.583 3.969c5.286 5.286 5.286 13.883 2e-3 19.167z" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row margin0" ng-if="user.userstype==1">
                    <div class="col">
                        <div ng-click="editquestion(question.questionid)">
                            <svg class="icon edit-icon edde grey-stroke" width="3508" height="4961" viewBox="0 0 3508 4961">
                                <path class="cls-1" stroke-linecap="round" stroke-linejoin="round" stroke-width="140px" fill-rule="evenodd" d="M516.335,2726.84l-57.3,641.25,618.835,34.36L3048.96,1421.43,2430.13,825.975Z" />
                                <path class="cls-2" stroke-width="140px" fill-rule="evenodd" d="M1792.44,1470.63l595.92,595.45" />
                            </svg>
                        </div>

                        <div ng-click="deletequestion()">
                            <svg class="icon floatleft icon-delete-icon edde grey-stroke delete-icon" width="3508" height="4961" viewBox="0 0 3508 4961">
                                <path class="cls-1" stroke-linejoin="bevel" stroke-linecap="round" stroke-width="140px" fill-rule="evenodd" d="M1214.01,1625.17V1167h1151v434.94" />
                                <path class="cls-2" stroke-linejoin="round" stroke-linecap="round" stroke-width="140px" fill-rule="evenodd" d="M783,2261L951,4338l1662-24,144-2021" />
                                <path class="cls-2" stroke-linejoin="round" stroke-linecap="round" stroke-width="140px" fill-rule="evenodd" d="M2182,2500V3891" />
                                <path class="cls-2" stroke-linejoin="round" stroke-linecap="round" stroke-width="140px" fill-rule="evenodd" d="M638.979,1675.9H2940v579.2H638.979V1675.9Z" />
                            </svg>

                        </div>
                    </div>
                </div>

            </div>

        </div>

        <!--Breaker with Data-->
        <div class="row marginbottom0 paddingbottom0 paddingtop0 answersbggrey">
            <div class="col col-10 "></div>
            <div class="col col-90 numberofanswers">
                <p class="marginbottom0 answersblackcolor fontsize12 cerafont" ng-if="question.answerscount > 0" style="margin-top: -2px;">{{question.answerscount}} Answer(s)</p>
                <p class="marginbottom0 lightblackcolor fontsize12 cerafont" ng-if="question.answerscount == 0">Not Yet Answered</p>
            </div>

        </div>

        <ion-refresher pulling-text="Pull To Refresh..." on-refresh="updateanswers()">
        </ion-refresher>

        <!--Answers-->
        <div class="list marginbottom0 questionslist answersscroll">

            <div class="item" style="padding: 0px;" disabled ng-repeat="answer in answers" ng-if="answer.auserid == user.userid || question.solutionviewed == 1 || user.userstype == 1">

                <div class="row marginbottom0 questionrow">
                    <div class="col col-10 textcenter">
                        <img src="{{usertypes[answer.ausertype - 1].image}}" width="139%" class="questionuserimage answeruserprofileimage">
                    </div>
                    <div class="col col-90">
                        <h2 class="questionuser cerafont">{{answer.ausername | allcapitalize}}</h2>
                        <h6 class="timetext cerafont">{{answer.time}}</h6>
                    </div>
                </div>
                <div class="row marginbottom0" style="margin-top: -1em;">
                    <div class="col col-90 col-offset-10">
                        <p class="normalwhitespace questiontext cerafont">{{answer.answer}}
                        </p>
                    </div>

                </div>

                <div class="row marginbottom0">
                    <div class="col col-90 col-offset-10 questionimagediv" ng-if="answer.image != null">
                        <img src="{{answer.image | imagepath}}" class="questionimage" ng-click="showImage(answer.image)">
                    </div>
                </div>

                <div class="row marginbottom0">
                    <div class="col col-10"></div>
                    <div class="col col-90">
                        <div class="question-icons-wrapper">
                            <!--LIKES-->
                            <div class="question-icon-div">
                                <div ng-click="staranswer(answer.answerid, $index)" style="display: inline-block;line-height: 6px;">
                                    <svg class="like-icon answer-like-icon-{{$index}}" ng-class="{'like-icon-active':answer.star, 'grey-stroke':!answer.star}" width="3508" height="4961" viewBox="0 0 3508 4961">
                                        <path class="cls-1" stroke-width="140px" fill="none" stroke="#636468" stroke-linecap="round" stroke-linejoin="round" fill-rule="evenodd" d="M394,1960c-4,75.95-35.689-113.62,108-117s602,0,602,0,188.61,18.45,195,171c81.35-6.42,117-21,117-21l312-624-33-474s117.25-287.828,357-192c185.78,164.814,393.25,180.484,321,912,272.55,17.66,748.83-38.59,842,168,39.2,254.58-24.18,276.47,30,369,35.98,47.99,107.74,322.55,9,431-35.78,66.45-102.26,200.64-102,363-62.7,105.37-168.58,488.71-369,498s-1160,0-1160,0-293-172-273-168-54-2-54-2-100-59.65-160,224c-80,55.79-560,87.97-740,40C331.829,3410.08,398,1884.05,394,1960Z" />
                                        <path class="cls-2" stroke-width="142px" fill="none" stroke="#636468" stroke-linecap="round" stroke-linejoin="round" fill-rule="evenodd" d="M1288,1971s20,1270.99,0,1299" />
                                    </svg>
                                </div>
                                <p ng-click="showstaranswerusers(answer.answerid, answer.starcount)">{{ answer.starcount }}</p>
                            </div>


                            <div class="question-icon-div">

                            </div>

                            <div class="question-icon-div">

                            </div>

                            <div class="question-icon-div">

                            </div>

                            <!--VERIFIED-->
                            <div class="question-icon-div" ng-click="verifyanswer(answer.answerid)">
                                <svg class="question-verified" ng-class="{'grey-fill':answer.verified != '1', 'light-green-fill': answer.verified == '1'}"  enable-background="new 0 0 191.667 191.667" version="1.1" viewBox="0 0 191.67 191.67" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                        <path d="m95.833 0c-52.842 0-95.833 42.99-95.833 95.833s42.991 95.834 95.833 95.834 95.833-42.991 95.833-95.834-42.99-95.833-95.833-95.833zm55.029 79.646-60.207 60.207c-2.56 2.56-5.963 3.969-9.583 3.969s-7.023-1.409-9.583-3.969l-30.685-30.685c-2.56-2.56-3.97-5.963-3.97-9.583 0-3.621 1.41-7.024 3.97-9.584 2.559-2.56 5.962-3.97 9.583-3.97 3.62 0 7.024 1.41 9.583 3.971l21.101 21.1 50.623-50.623c2.56-2.56 5.963-3.969 9.583-3.969s7.023 1.409 9.583 3.969c5.286 5.286 5.286 13.883 2e-3 19.167z" />
                                    </svg>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row margin0" ng-if="user.userstype==1">
                    <div class="col">
                        <div ng-click="editanswer(answer.answerid)">
                            <svg class="icon edit-icon edde grey-stroke" width="3508" height="4961" viewBox="0 0 3508 4961">
                                <path class="cls-1" stroke-linecap="round" stroke-linejoin="round" stroke-width="140px" fill-rule="evenodd" d="M516.335,2726.84l-57.3,641.25,618.835,34.36L3048.96,1421.43,2430.13,825.975Z" />
                                <path class="cls-2" stroke-width="140px" fill-rule="evenodd" d="M1792.44,1470.63l595.92,595.45" />
                            </svg>
                        </div>

                        <div ng-click="deleteanswer(answer.answerid)">
                            <svg class="icon floatleft icon-delete-icon edde grey-stroke delete-icon" width="3508" height="4961" viewBox="0 0 3508 4961">
                                <path class="cls-1" stroke-linejoin="bevel" stroke-linecap="round" stroke-width="140px" fill-rule="evenodd" d="M1214.01,1625.17V1167h1151v434.94" />
                                <path class="cls-2" stroke-linejoin="round" stroke-linecap="round" stroke-width="140px" fill-rule="evenodd" d="M783,2261L951,4338l1662-24,144-2021" />
                                <path class="cls-2" stroke-linejoin="round" stroke-linecap="round" stroke-width="140px" fill-rule="evenodd" d="M2182,2500V3891" />
                                <path class="cls-2" stroke-linejoin="round" stroke-linecap="round" stroke-width="140px" fill-rule="evenodd" d="M638.979,1675.9H2940v579.2H638.979V1675.9Z" />
                            </svg>

                        </div>
                    </div>
                </div>

            </div>

            <!--View Solution Button-->
            <div class="view-solution-wrapper" ng-if="question.solutionviewed == 0 && user.userstype != 1 && haveothersanswered()">
                <button class="button button-full primarybg" ng-click="viewsolution()">View Solutions</button>
                <p class="view-solution-notice">Once you view the solutions you won't be able to answer this question.</p>
            </div>

        </div>

        <!--<script id="image-modal.html" type="text/ng-template">
            <div class="modal image-modal transparent" ng-click="closeModal()">
                <ion-pane class="transparent">
                    <img ng-src="{{imageSrc | imagepath}}" class="fullscreen-image" />
                </ion-pane>
            </div>
        </script>-->

        <script id="image-modal.html" type="text/ng-template">
            <ion-modal-view class="image-modal">
                <button class="button button-full button-positive primarybg" ng-click="downloadimage()">
                    Download Image
                </button>
                <ion-scroll zooming="true" direction="xy" delegate-handle="zoom-pane" class="zoom-pane" min-zoom="1" scrollbar-x="false" scrollbar-y="false" overflow-scroll="false" ng-click="closeModal()">
                    <img ng-src="{{imageSrc | imagepath}}">
                </ion-scroll>
            </ion-modal-view>
        </script>

    </ion-content>



    <div class="typeanswerdiv" ng-if="question.solutionviewed == 0 || user.userstype == 1">
        <div class="answerimagebox" ng-show="showimg">
            <!---->
            <img src="" id="myanswerImage" width="96%">
        </div>
        <div class="input-field z-depth-4 margintop0">
            <textarea placeholder="Type Your Answer" id="answer" class="materialize-textarea marginbottom0 typeanswerinput cerafont" ng-model="answerdata.answer"></textarea>
            <a class="button button-icon answertexticon ansgalicon answergalleryicon" ng-click="pickphoto()" style="right:24%">
                <svg class="gallery-icon primary-stroke" width="3508" height="4961" viewBox="0 0 3508 4961">
                    <path class="cls-1" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" d="M988,1139l-367,25s-373.889-.59-388,471c27.855,418.6,101,1682,101,1682s26,431.74,494,394" />
                    <circle class="cls-2" stroke-linecap="round" stroke-linejoin="round" cx="1744.5" cy="1799.5" r="123.5" />
                    <path class="cls-1" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" d="M1572,1048s-348.84-81.174-383,243S964,3493,964,3493s7.222,260.26,300,271c288.28,33.23,1371,143,1371,143s337.45,101.18,417-212c37.56-337.18,219-2074,219-2074s97.37-382.77-299-429C2571.13,1153.27,1572,1048,1572,1048Z" />
                    <path class="cls-1" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" d="M1077,2820.59l550.47-360.56L2155.54,3035" />
                    <path class="cls-1" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" d="M1883.5,2676.58L2666.54,2076,3153,2606.17" />
                </svg>
            </a>
            <a class="button button-icon answertexticon answercameraicon" style="right: 13%;" ng-click="capturephoto()">
                <svg class="camera-icon primary-stroke" width="3508" height="4961" viewBox="0 0 3508 4961">
                    <path class="cls-1" stroke-linecap="round" stroke-linejoin="round" stroke-width="140px" d="M1732.5,1842c380.8,0,689.5,308.7,689.5,689.5S2113.3,3221,1732.5,3221,1043,2912.3,1043,2531.5,1351.7,1842,1732.5,1842Zm891.5,6a111,111,0,1,1-111,111A111,111,0,0,1,2624,1848Z" />
                    <path class="cls-1" stroke-linecap="round" stroke-linejoin="round" stroke-width="140px" d="M1380,1216h786s118-13.66,322,228c174,103.69,530-9.62,626,214,40,143.64,26,1727,26,1727s-58.66,292.24-399,288-2085-16-2085-16-278.445-47.9-277-345,1-1579,1-1579,29.655-240.71,363-260,274.17,3.21,426-142C1272.83,1217.77,1326.01,1216,1380,1216Z" />
                    <path class="cls-2" fill-rule="evenodd" d="M2628.5,1898.9c37.09,0,67.15,30.27,67.15,67.6s-30.06,67.6-67.15,67.6-67.16-30.27-67.16-67.6S2591.41,1898.9,2628.5,1898.9Z" />
                </svg>

            </a>
            <a class="button button-icon answertexticon" style="right: 1%;" ng-click="sendanswer()">
                <svg class="primary-stroke post-icon" width="3508" height="4961" viewBox="0 0 3508 4961">
                    <path class="cls-1" stroke-linecap="round" stroke-linejoin="round" fill-rule="evenodd" d="M1406.66,2439.7l-38.41,429.8,414.81,23.02L3104.3,1564.75l-414.81-399.09Z" />
                    <path class="cls-2" fill-rule="evenodd" d="M2262.04,1597.73l399.45,399.1" />
                    <path class="cls-1" stroke-linecap="round" stroke-linejoin="round" fill-rule="evenodd" d="M2003,1508l-1581,1.7V3793.24H2710V2276" />
                </svg>
            </a>
        </div>
    </div>

    <div id="floatbtn" class="fixed-action-btn vertical">
        <a class="btn-floating btn-large primarybg waves-effect waves-light" ng-click="goback()" style="opacity: 0.3;">
            <svg class="back-floating-icon white-fill" viewBox="0 0 477.18 477.18" xmlns="http://www.w3.org/2000/svg">
                <g>
                    <path d="m145.19 238.58 215.5-215.5c5.3-5.3 5.3-13.8 0-19.1s-13.8-5.3-19.1 0l-225.1 225.1c-5.3 5.3-5.3 13.8 0 19.1l225.1 225c2.6 2.6 6.1 4 9.5 4s6.9-1.3 9.5-4c5.3-5.3 5.3-13.8 0-19.1l-215.4-215.5z" />
                </g>
            </svg>
        </a>
    </div>

</ion-view>
