<ion-view view-title="Playlists" drag-content="true">
    <ion-header-bar align-title="left" class="bar-calm primarybg">
        <div class="buttons">
            <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="left">
            </button>
        </div>
        <input type="text" placeholder="Search ..." class="marginbottom0 headersearchbox cerafont" ng-model="search" ng-change="searchquestions(search)">
        <div class="buttons" style="margin-right:5px">
            <a class="filternav questions-top-icon-a" ng-click="gotofilter()">
                <svg class="filter-icon" width="3508" height="4961" viewBox="0 0 3508 4961">
                    <path class="cls-1" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-width="140px" d="M220,2471" />
                    <path class="cls-1" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-width="140px" d="M534,1732l260-256,444,144,124-52,184-406,384-4,206,410,118,52,438-162,270,268-150,428,38,94,428,218,4,371-418,196-56,132,164,404-276,274-422-150-132,52-198,404-384,8-196-406-134-48L808,3849,538,3585l160-422-58-122L220,2837l8-367,406-184,58-138Z" />
                    <circle class="cls-2" stroke-linecap="round" stroke-linejoin="round" stroke-width="140px" cx="1762.5" cy="2664.5" r="483.5" />
                </svg>
            </a>
            <a class="navbtn questions-top-icon-a" ng-click="gotoask()">
                <svg class="primary-stroke post-icon-top" width="3508" height="4961" viewBox="0 0 3508 4961">
                    <path class="cls-1" stroke-linecap="round" stroke-linejoin="round" fill-rule="evenodd" d="M1406.66,2439.7l-38.41,429.8,414.81,23.02L3104.3,1564.75l-414.81-399.09Z" />
                    <path class="cls-2" fill-rule="evenodd" d="M2262.04,1597.73l399.45,399.1" />
                    <path class="cls-1" stroke-linecap="round" stroke-linejoin="round" fill-rule="evenodd" d="M2003,1508l-1581,1.7V3793.24H2710V2276" />
                </svg>
            </a>
            <a class="navbtn questions-top-icon-a" ng-click="gotochat()" ng-if="user.userstype !=3 ">
                <svg class="chat-icon" width="3508" height="4961" viewBox="0 0 3508 4961">
                    <path class="cls-2" stroke-width="140px" stroke-linecap="round" stroke-linejoin="round" fill-rule="evenodd" d="M854,3051s-462-426.65-396-875c10.933-152.44,36-457.77,338-754,74-68.27,276-293.8,764-368,46-8.21,466-87.7,896,166,52,29.75,452,254.49,572,732,18,75.59,156,674.71-394,1121-498,370.31-894,343.65-1262,258-40,2.33-348,149.71-370,164-32,10.29-108,43.66-98-90s12-266,12-266S936,3104.99,854,3051Z" />
                </svg>
            </a>
            <div class="qoestionspagedot" ng-if="newmessages"></div>
        </div>
    </ion-header-bar>
    <ion-content class="has-header">
        <ion-refresher pulling-text="Pull To Refresh..." on-refresh="updatequestions()">
        </ion-refresher>
        <ion-scroll class="list questionslist questionsmarginfilterbar">

            <div class="noquestext cerafont normalwhitespace" style="padding: 0px;" ng-if="questions.length == 0">
                No Questions to show...
            </div>
            <div ng-if="trendingquestions && trendingquestions.length != 0 && (filterparameters.filters.book==0 && filterparameters.filters.me==0)">

                <div class="trendingdiv" ng-click="gototrending()" ng-if="!showtrending">
                    <p class="margin0 strawberryfont normalwhitespace"> &lt; Trending in your standard &gt; </p>
                </div>
                <div class="trendingdiv" ng-click="gototrending()" ng-if="showtrending">
                    <p class="margin0 strawberryfont normalwhitespace"> &lt; Back to main feed &gt; </p>
                </div>

                <div class="trending-div" ng-show="showtrending">
                    <div class="item trendingquestion" ng-repeat="question in trendingquestions" style="padding: 0px;" id="{{question.questionid}}">

                        <h3 class="premium-title cerafont" ng-if="question.premium=='1'">EXCLUSIVE Q.</h3>


                        <div class="row marginbottom0 questionrow paddingbottom0" style="margin-top: 5px !important;">
                            <div class="col col-10 textcenter paddingbottom0" ng-click="gotoanswers(question.questionid, $index)">
                                <img src="{{usertypes[question.qusertype - 1].image}}" width="150%" class="questionuserimage answeruserprofileimage" ng-class="{'lastanswered-image-red': user.userstype==1 && ((question.lastanswered==null && question.qusertype!=1) || question.lastanswered==2 || question.lastanswered==3)}">
                            </div>
                            <div class="col col-80 paddingbottom0 positionrelative" ng-click="gotoanswers(question.questionid, $index)">
                                <div style="margin-top: -4px;" class="question-user-wrapper">
                                    <h2 class="questionuser cerafont">{{question.qusername | allcapitalize}}</h2>
                                    <h6 class="timetext cerafont">{{question.time}}</h6>
                                    <!--<h2 class="lastanswereddot" ng-if="user.userstype==1 && ((question.lastanswered==null && question.qusertype!=1) || question.lastanswered==2 || question.lastanswered==3)"></h2>-->

                                </div>
                                <div class="subj-chap-div">
                                    <p class="primarycolor questionsubject cerafont marginbottom0">{{question.subject}} - {{question.qchaptername}}</p>
                                </div>
                            </div>
                            <div class="col col-10 paddingbottom0" ng-click="bookmarkques(question.questionid)">
                                <svg class="bookmark-icon" ng-class="{'primary-fill':question.bookmarked==1,'grey-stroke':question.bookmarked==0}" viewBox="0 0 3508 4961" xmlns="http://www.w3.org/2000/svg">
                                    <path d="m910.96 1055v2692l903.04-567 886.92 567v-2692h-1790z" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-width="140px" />
                                </svg>

                            </div>
                        </div>

                        <!-- QUESTION TEXT -->
                        <div class="row marginbottom0" ng-click="gotoanswers(question.questionid, $index)" style="margin-top: 0em;" ng-if="question.premium == 0 || users.usertype!=3">
                            <div class="col col-10"></div>
                            <div class="col col-90" style="margin-left: 6px;">
                                <p class="normalwhitespace questiontext cerafont" style="padding-right: 9px;font-size: 0.88em !important;font-weight: 700;">{{question.question}}
                                </p>
                            </div>
                        </div>

                        <!-- QUESTION IMAGE -->
                        <div class="row" style="margin-bottom: 5px !important;" ng-click="gotoanswers(question.questionid, $index)" ng-if="question.image!=null && (question.premium == 0 || users.usertype!=3)">
                            <div class="col col-10"></div>
                            <div class="col col-90 questionimagediv" ng-class="{'autoheight': question.imageview == 1}" style="margin-left: 6px;">
                                <img src="{{question.image | imagepath}}" class="questionimage">
                            </div>
                        </div>

                        <!-- QUESTION VIDEO -->
                        <div class="row" style="margin-bottom: 5px !important;" ng-click="gotoanswers(question.questionid, $index)" ng-if="question.video!=null && (question.premium == 0 || users.usertype!=3)">
                            <div class="col col-10"></div>
                            <div class="col col-90 questionvideodiv" style="margin-left: 6px;">
                                <div class="question-video-wrapper">
                                    <iframe class="youtubevideo" ng-src="{{question.video | youtubetrusted}}" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>

                        <!-- PREMIUM TEXT -->
                        <div class="row marginbottom0" ng-click="gotoanswers(question.questionid, $index)" style="margin-top: 0em;" ng-if="question.premium == 1 && user.userstype==3">
                            <div class="col col-10"></div>
                            <div class="col col-90" style="margin-left: 6px;">
                                <i class="ion-android-lock"></i>
                                <p class="normalwhitespace questiontext cerafont" style="display:inline; padding-right: 9px;font-size: 0.88em !important;font-weight: 700;">This is premium content and is visible only to students of Sunali's Classes.
                                </p>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 5px;">
                            <div class="col col-10"></div>
                            <div class="col col-90">
                                <div class="question-icons-wrapper">
                                    <!--LIKES-->
                                    <div class="question-icon-div">
                                        <div ng-click="starquestion(question.questionid, $index)" style="display: inline-block;line-height: 6px;">
                                            <svg class="like-icon like-icon-{{$index}}" ng-class="{'like-icon-active':question.starred, 'grey-stroke':!question.starred}" xmlns="http://www.w3.org/2000/svg" width="3508" height="4961" viewBox="0 0 3508 4961">
                                                <path class="cls-1" stroke-width="140px" fill="none" stroke="#636468" stroke-linecap="round" stroke-linejoin="round" fill-rule="evenodd" d="M394,1960c-4,75.95-35.689-113.62,108-117s602,0,602,0,188.61,18.45,195,171c81.35-6.42,117-21,117-21l312-624-33-474s117.25-287.828,357-192c185.78,164.814,393.25,180.484,321,912,272.55,17.66,748.83-38.59,842,168,39.2,254.58-24.18,276.47,30,369,35.98,47.99,107.74,322.55,9,431-35.78,66.45-102.26,200.64-102,363-62.7,105.37-168.58,488.71-369,498s-1160,0-1160,0-293-172-273-168-54-2-54-2-100-59.65-160,224c-80,55.79-560,87.97-740,40C331.829,3410.08,398,1884.05,394,1960Z" />
                                                <path class="cls-2" stroke-width="142px" fill="none" stroke="#636468" stroke-linecap="round" stroke-linejoin="round" fill-rule="evenodd" d="M1288,1971s20,1270.99,0,1299" />
                                            </svg>

                                        </div>
                                        <p>{{ question.starcount }}</p>
                                    </div>

                                    <!--VIEWS-->
                                    <div class="question-icon-div" ng-click="showtoast_g('View question to activate icon')">
                                        <svg class="view-icon grey-stroke" ng-class="{'red-fill':question.viewed}" width="3508" height="4961" viewBox="0 0 3508 4961">
                                            <path class="cls-1" stroke-linecap="round" stroke-linejoin="round" fill-rule="evenodd" d="M1823,419c314.8,0,570,289,570,645.5S2137.8,1710,1823,1710s-570-289-570-645.5S1508.2,419,1823,419Z" />
                                            <path class="cls-1" stroke-linecap="round" stroke-linejoin="round" fill-rule="evenodd" d="M675,3014c321.226,194.56,1016.05,163.5,1370,144,145.47-18,806.37-155.61,860-237,2.65-18.41-86.61-521.48-264-686-345.3-362.48-704.1-291.39-1016-297-857.585,36.38-944,1061-944,1061" />
                                        </svg>

                                        <p>{{ question.viewcount }}</p>
                                    </div>

                                    <!--ANSWERS-->
                                    <div class="question-icon-div" ng-click="showtoast_g('Icon will activate when you post an answer')">
                                        <svg width="3508" height="4961" class="answer-icon" ng-class="{'green-fill':question.answered==1}" viewBox="0 0 3508 4961">
                                            <path fill="none" stroke="#636468" stroke-linecap="round" stroke-linejoin="round" stroke-width="140px" fill-rule="evenodd" d="M284,2658V1607s16-460.48,580-600c596,4.39,1620,8,1620,8s520,32.34,600,616c4,639.63,0,999,0,999s-100,536.02-644,624c-580,8.03-668,12-668,12l-760,564s-164,19.98-168-268-4-328-4-328S284,3013.78,284,2658Z" />
                                        </svg>
                                        <p>{{ question.answerscount }}</p>
                                    </div>

                                    <!--SHARE-->
                                    <div class="question-icon-div" ng-click="sharequestion(question.questionid)">
                                        <svg viewBox="0 0 304 315" class="grey-stroke share-icon">
                                            <path class="cls-1" d="m33 255s-3-158.67 125-171c0.333-48.333 0-51 0-51s8-13.333 20-1 101 103 101 103 2 9-2 11c-3 3.667-105 102-105 102s-7.333 4.333-12-1c0-12.333-1-55-1-55s-63.333-15.333-106 64c-3.333 4.667-15.333 10.667-20-1z" fill="none" fill-rule="evenodd" stroke="#636468" stroke-width="16px" />
                                        </svg>
                                    </div>

                                    <!--VERIFIED-->
                                    <div class="question-icon-div" ng-click="showtoast_g('Icon will activate when question is verified')">
                                        <svg class="grey-fill question-verified" ng-class="{'light-green-fill':question.verified=='1'}" ng-if="question.verified=='1' || user.userstype==1" enable-background="new 0 0 191.667 191.667" version="1.1" viewBox="0 0 191.67 191.67" xml:space="preserve">
                                            <path d="m95.833 0c-52.842 0-95.833 42.99-95.833 95.833s42.991 95.834 95.833 95.834 95.833-42.991 95.833-95.834-42.99-95.833-95.833-95.833zm55.029 79.646-60.207 60.207c-2.56 2.56-5.963 3.969-9.583 3.969s-7.023-1.409-9.583-3.969l-30.685-30.685c-2.56-2.56-3.97-5.963-3.97-9.583 0-3.621 1.41-7.024 3.97-9.584 2.559-2.56 5.962-3.97 9.583-3.97 3.62 0 7.024 1.41 9.583 3.971l21.101 21.1 50.623-50.623c2.56-2.56 5.963-3.969 9.583-3.969s7.023 1.409 9.583 3.969c5.286 5.286 5.286 13.883 2e-3 19.167z" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>

            <div class="item" ng-repeat="question in questions" style="padding: 0px;" ng-class="{'premiumquestion': question.premium == '1'}" id="{{question.questionid}}" ng-show="!showtrending">

                <h3 class="premium-title cerafont" ng-if="question.premium=='1'">EXCLUSIVE Q.</h3>


                <div class="row marginbottom0 questionrow paddingbottom0" style="margin-top: 5px !important;">
                    <div class="col col-10 textcenter paddingbottom0" ng-click="gotoanswers(question.questionid, $index)">
                        <img src="{{usertypes[question.qusertype - 1].image}}" width="150%" class="questionuserimage answeruserprofileimage" ng-class="{'lastanswered-image-red': user.userstype==1 && ((question.lastanswered==null && question.qusertype!=1) || question.lastanswered==2 || question.lastanswered==3)}">
                    </div>
                    <div class="col col-80 paddingbottom0 positionrelative" ng-click="gotoanswers(question.questionid, $index)">
                        <div style="margin-top: -4px;" class="question-user-wrapper">
                            <h2 class="questionuser cerafont">{{question.qusername | allcapitalize}}</h2>
                            <h6 class="timetext cerafont">{{question.time}}</h6>
                            <!--<h2 class="lastanswereddot" ng-if="user.userstype==1 && ((question.lastanswered==null && question.qusertype!=1) || question.lastanswered==2 || question.lastanswered==3)"></h2>-->

                        </div>
                        <div class="subj-chap-div">
                            <p class="primarycolor questionsubject cerafont marginbottom0">{{question.subject}} - {{question.qchaptername}}</p>
                        </div>
                    </div>
                    <div class="col col-10 paddingbottom0" ng-click="bookmarkques(question.questionid)">
                        <svg class="bookmark-icon" ng-class="{'primary-fill':question.bookmarked==1,'grey-stroke':question.bookmarked==0}" viewBox="0 0 3508 4961" xmlns="http://www.w3.org/2000/svg">
                            <path d="m910.96 1055v2692l903.04-567 886.92 567v-2692h-1790z" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-width="140px" />
                        </svg>

                    </div>
                </div>

                <!-- QUESTION TEXT -->
                <div class="row marginbottom0" ng-click="gotoanswers(question.questionid, $index)" style="margin-top: 0em;" ng-if="question.premium == 0 || users.usertype!=3">
                    <div class="col col-10"></div>
                    <div class="col col-90" style="margin-left: 6px;">
                        <p class="normalwhitespace questiontext cerafont" style="padding-right: 9px;font-size: 0.88em !important;font-weight: 700;">{{question.question}}
                        </p>
                    </div>
                </div>

                <!-- QUESTION IMAGE -->
                <div class="row" style="margin-bottom: 5px !important;" ng-click="gotoanswers(question.questionid, $index)" ng-if="question.image!=null && (question.premium == 0 || users.usertype!=3)">
                    <div class="col col-10"></div>
                    <div class="col col-90 questionimagediv" ng-class="{'autoheight': question.imageview == 1}" style="margin-left: 6px;">
                        <img src="{{question.image | imagepath}}" class="questionimage">
                    </div>
                </div>

                <!-- QUESTION VIDEO -->
                <div class="row" style="margin-bottom: 5px !important;" ng-click="gotoanswers(question.questionid, $index)" ng-if="question.video!=null && (question.premium == 0 || users.usertype!=3)">
                    <div class="col col-10"></div>
                    <div class="col col-90 questionvideodiv" style="margin-left: 6px;">
                        <div class="question-video-wrapper">
                            <iframe class="youtubevideo" ng-src="{{question.video | youtubetrusted}}" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>

                <!-- PREMIUM TEXT -->
                <div class="row marginbottom0" ng-click="gotoanswers(question.questionid, $index)" style="margin-top: 0em;" ng-if="question.premium == 1 && user.userstype==3">
                    <div class="col col-10"></div>
                    <div class="col col-90" style="margin-left: 6px;">
                        <i class="ion-android-lock"></i>
                        <p class="normalwhitespace questiontext cerafont" style="display:inline; padding-right: 9px;font-size: 0.88em !important;font-weight: 700;">This is premium content and is visible only to students of Sunali's Classes.
                        </p>
                    </div>
                </div>

                <div class="row" style="margin-bottom: 5px;">
                    <div class="col col-10"></div>
                    <div class="col col-90">
                        <div class="question-icons-wrapper">
                            <!--LIKES-->
                            <div class="question-icon-div">
                                <div ng-click="starquestion(question.questionid, $index)" style="display: inline-block;line-height: 6px;">
                                    <svg class="like-icon like-icon-{{$index}}" ng-class="{'like-icon-active':question.starred, 'grey-stroke':!question.starred}" xmlns="http://www.w3.org/2000/svg" width="3508" height="4961" viewBox="0 0 3508 4961">
                                        <path class="cls-1" stroke-width="140px" fill="none" stroke="#636468" stroke-linecap="round" stroke-linejoin="round" fill-rule="evenodd" d="M394,1960c-4,75.95-35.689-113.62,108-117s602,0,602,0,188.61,18.45,195,171c81.35-6.42,117-21,117-21l312-624-33-474s117.25-287.828,357-192c185.78,164.814,393.25,180.484,321,912,272.55,17.66,748.83-38.59,842,168,39.2,254.58-24.18,276.47,30,369,35.98,47.99,107.74,322.55,9,431-35.78,66.45-102.26,200.64-102,363-62.7,105.37-168.58,488.71-369,498s-1160,0-1160,0-293-172-273-168-54-2-54-2-100-59.65-160,224c-80,55.79-560,87.97-740,40C331.829,3410.08,398,1884.05,394,1960Z" />
                                        <path class="cls-2" stroke-width="142px" fill="none" stroke="#636468" stroke-linecap="round" stroke-linejoin="round" fill-rule="evenodd" d="M1288,1971s20,1270.99,0,1299" />
                                    </svg>

                                </div>
                                <p>{{ question.starcount }}</p>
                            </div>

                            <!--VIEWS-->
                            <div class="question-icon-div" ng-click="showtoast_g('View question to activate icon')">
                                <svg class="view-icon grey-stroke" ng-class="{'red-fill':question.viewed}" width="3508" height="4961" viewBox="0 0 3508 4961">
                                    <path class="cls-1" stroke-linecap="round" stroke-linejoin="round" fill-rule="evenodd" d="M1823,419c314.8,0,570,289,570,645.5S2137.8,1710,1823,1710s-570-289-570-645.5S1508.2,419,1823,419Z" />
                                    <path class="cls-1" stroke-linecap="round" stroke-linejoin="round" fill-rule="evenodd" d="M675,3014c321.226,194.56,1016.05,163.5,1370,144,145.47-18,806.37-155.61,860-237,2.65-18.41-86.61-521.48-264-686-345.3-362.48-704.1-291.39-1016-297-857.585,36.38-944,1061-944,1061" />
                                </svg>

                                <p>{{ question.viewcount }}</p>
                            </div>

                            <!--ANSWERS-->
                            <div class="question-icon-div" ng-click="showtoast_g('Icon will activate when you post an answer')">
                                <svg width="3508" height="4961" class="answer-icon" ng-class="{'green-fill':question.answered==1}" viewBox="0 0 3508 4961">
                                    <path fill="none" stroke="#636468" stroke-linecap="round" stroke-linejoin="round" stroke-width="140px" fill-rule="evenodd" d="M284,2658V1607s16-460.48,580-600c596,4.39,1620,8,1620,8s520,32.34,600,616c4,639.63,0,999,0,999s-100,536.02-644,624c-580,8.03-668,12-668,12l-760,564s-164,19.98-168-268-4-328-4-328S284,3013.78,284,2658Z" />
                                </svg>
                                <p>{{ question.answerscount }}</p>
                            </div>

                            <!--SHARE-->
                            <div class="question-icon-div" ng-click="sharequestion(question.questionid)">
                                <svg viewBox="0 0 304 315" class="grey-stroke share-icon">
                                    <path class="cls-1" d="m33 255s-3-158.67 125-171c0.333-48.333 0-51 0-51s8-13.333 20-1 101 103 101 103 2 9-2 11c-3 3.667-105 102-105 102s-7.333 4.333-12-1c0-12.333-1-55-1-55s-63.333-15.333-106 64c-3.333 4.667-15.333 10.667-20-1z" fill="none" fill-rule="evenodd" stroke="#636468" stroke-width="16px" />
                                </svg>
                            </div>

                            <!--VERIFIED-->
                            <div class="question-icon-div" ng-click="showtoast_g('Icon will activate when question is verified')">
                                <svg class="grey-fill question-verified" ng-class="{'light-green-fill':question.verified=='1'}" ng-if="question.verified=='1' || user.userstype==1" enable-background="new 0 0 191.667 191.667" version="1.1" viewBox="0 0 191.67 191.67" xml:space="preserve">
                                    <path d="m95.833 0c-52.842 0-95.833 42.99-95.833 95.833s42.991 95.834 95.833 95.834 95.833-42.991 95.833-95.834-42.99-95.833-95.833-95.833zm55.029 79.646-60.207 60.207c-2.56 2.56-5.963 3.969-9.583 3.969s-7.023-1.409-9.583-3.969l-30.685-30.685c-2.56-2.56-3.97-5.963-3.97-9.583 0-3.621 1.41-7.024 3.97-9.584 2.559-2.56 5.962-3.97 9.583-3.97 3.62 0 7.024 1.41 9.583 3.971l21.101 21.1 50.623-50.623c2.56-2.56 5.963-3.969 9.583-3.969s7.023 1.409 9.583 3.969c5.286 5.286 5.286 13.883 2e-3 19.167z" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="item">
                <button class="button button-full button-positive waves-effect waves-light" ng-click="loadmore()" ng-disabled="lmbdisabled" ng-if="!trendingquestions">
                    Load More
                </button>
            </div>

        </ion-scroll>


        <!--<button class="button button-full button-positive">
            Load More Question
        </button>-->


    </ion-content>


    <div class="chaptersdiv z-depth-5 hide-on-keyboard-open" ng-if="showchapters" ng-class="{'listduringreset':quesfilterapplied}">
        <ul class="list marginbottom0">
            <li class="item" ng-repeat="chap in chapters">
                <p>
                    <input type="checkbox" class="filled-in" id="{{chap.chapterid}}" checked="checked" ng-model="chap.selected" ng-change="addtochapfilter()" />
                    <label for="{{chap.chapterid}}">{{chap.chaptertitle}}</label>
                </p>
            </li>
        </ul>
    </div>

    <div class="item removefiltersbtndiv hide-on-keyboard-open" ng-repeat="chap in chapters" ng-if="quesfilterapplied && showchapters">
        <button class="button button-full button-positive buttonbluebg" ng-click="clearfilter()">
            Remove Filters
        </button>
    </div>

    <div class="row chapterbuttons marginbottom0 hide-on-keyboard-open" ng-if="showchapters">
        <div class="col">
            <a class="waves-effect waves-light btn nouppercase buttonbluebg boldbutton" ng-click="selectallchaps()" ng-disabled="!allchapsbutton">All Chapters</a>
        </div>
        <div class="col">
            <a class="waves-effect waves-light btn floatright nouppercase buttonbluebg boldbutton" ng-click="addfilters()()">OK</a>
        </div>
    </div>

    <div class="bottomstabs">
        <div class="row marginbottom0 paddingbottom0 bottomimagestab paddingtop0">
            <div class="col col-25 textcenter bottomtabimages paddingbottom0 paddingtop0" ng-repeat="subject in subjects" ng-click="selectsubject($index, subject.subjectid)">
                <img src="{{subject.iconpath}}" width="32%" class="subjfilterimages" ng-show="$index == selectedsubject || selectedsubject==null">
                <img src="{{subject.inacticonpath}}" width="32%" class="subjfilterimages" ng-show="$index != selectedsubject && selectedsubject !=null">
            </div>
            <!--<div class="col col-25 textcenter bottomtabimages paddingbottom0 paddingtop0" ng-repeat="subject in subjects" ng-click="selectsubject($index, subject.subjectid)">
                <img src="{{subject.iconpath}}" width="32%" ng-if="$index == selectedsubject || selectedsubject==null">
                <img src="{{subject.inacticonpath}}" width="32%" ng-if="$index != selectedsubject && selectedsubject !=null">
            </div>-->
        </div>
        <div class="row marginbottom0 paddingbottom0">
            <div class="col col-25 textcenter bottomtabtextdiv" ng-repeat="subject in subjects" ng-click="selectsubject($index, subject.subjectid)">
                <h6 class="margin0 bottomtabtext">{{subject.subject}}</h6>
            </div>
            <!--<div class="col col-25 textcenter bottomtabtextdiv" ng-repeat="subject in subjects" ng-click="selectsubject($index, subject.subjectid)">
                <h6 class="margin0 bottomtabtext">{{subject.subject}}</h6>
            </div>-->
        </div>
    </div>

    <div class="floatoverlay" ng-class="{'floatoverlaycolor':floatactive}"></div>

    <div id="floatbtn" class="fixed-action-btn vertical click-to-toggle">
        <a class="btn-floating btn-large primarybg waves-effect waves-light" ng-class="{'rotate45':floatactive}" ng-click="checkoverlay()">
            <i class="ion-ios-plus-empty fontsize34 mainfloaticon">menu</i>
        </a>
        <ul>
            <li>
                <p class="floatinginnerbuttontext" ng-class="{'opacity0': !floatactive , 'opacity1':floatactive}" ng-click="gotofilter()">Filter</p>
                <a class="btn-floating primarybg darken-1 fliterfloat" ng-click="gotofilter()">
                    <svg class="filter-icon" style="margin:2.4px 0px" width="3508" height="4961" viewBox="0 0 3508 4961">
                        <path class="cls-1" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-width="140px" d="M220,2471" />
                        <path class="cls-1" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-width="140px" d="M534,1732l260-256,444,144,124-52,184-406,384-4,206,410,118,52,438-162,270,268-150,428,38,94,428,218,4,371-418,196-56,132,164,404-276,274-422-150-132,52-198,404-384,8-196-406-134-48L808,3849,538,3585l160-422-58-122L220,2837l8-367,406-184,58-138Z" />
                        <circle class="cls-2" stroke-linecap="round" stroke-linejoin="round" stroke-width="140px" cx="1762.5" cy="2664.5" r="483.5" />
                    </svg>
                </a>


            </li>

            <li>
                <p class="floatinginnerbuttontext floatinginnerbuttontextask" ng-class="{'opacity0': !floatactive , 'opacity1':floatactive}" ng-click="gotoask()">Ask A Question</p>
                <a class="btn-floating primarybg askfloat" ng-click="gotoask()">
                    <svg class="primary-stroke post-icon-floating" width="3508" height="4961" viewBox="0 0 3508 4961">
                        <path class="cls-1" stroke-linecap="round" stroke-linejoin="round" fill-rule="evenodd" d="M1406.66,2439.7l-38.41,429.8,414.81,23.02L3104.3,1564.75l-414.81-399.09Z" />
                        <path class="cls-2" fill-rule="evenodd" d="M2262.04,1597.73l399.45,399.1" />
                        <path class="cls-1" stroke-linecap="round" stroke-linejoin="round" fill-rule="evenodd" d="M2003,1508l-1581,1.7V3793.24H2710V2276" />
                    </svg>
                </a>

            </li>
        </ul>
    </div>
</ion-view>
