<ion-view view-title="Profile">
    <ion-header-bar align-title="left" class=" lightgreybg lightblackcolor z-depth-2">
        <div class="buttons">
            <button class="button button-icon button-clear ion-android-more-vertical lightblackcolor" menu-toggle="left">
            </button>
        </div>
        <h1 class="title lightblackcolor">Profile</h1>
        <div class="buttons">
            <button class="button button-icon button-clear lightblackcolor" ng-click="editmode()">
                <svg ng-if="!editprofile" class="icon grey-stroke top-edit" style="width: 35px;height: 45px;" width="35" height="45" viewBox="0 0 3508 4961">
                    <path class="cls-1" stroke-linecap="round" stroke-linejoin="round" stroke-width="150px" fill-rule="evenodd" d="M516.335,2726.84l-57.3,641.25,618.835,34.36L3048.96,1421.43,2430.13,825.975Z" style="stroke-width: 150px !important;" />
                    <path class="cls-2" stroke-width="150px" style="stroke-width: 150px !important;" fill-rule="evenodd" d="M1792.44,1470.63l595.92,595.45" />
                </svg>
                <svg ng-if="editprofile" class="edit-tick-icon" version="1.1" id="Capa_1" x="0px" y="0px"
	 width="611.999px" height="611.999px" viewBox="0 0 611.999 611.999" style="enable-background:new 0 0 611.999 611.999;"
	 xml:space="preserve">
                    <g>
                        <path d="M601.671,153.75l-81.96-81.314c-7.022-6.966-15.659-10.662-25.652-10.662c-10.996,0-19.305,3.98-25.986,10.662
                            L242.178,297.683l-97.619-98.301c-8.331-6.966-16.995-10.662-25.994-10.662c-9.66,0-18.324,3.696-26.654,10.662l-80.958,81.954
                            c-14.571,14.784-14.635,37.316,0,51.958l205.239,205.915c7.314,7.392,15.993,11.017,25.986,11.017
                            c10.328,0,19.319-3.696,26.654-11.017l332.839-332.79c7.002-7.037,10.328-15.708,10.328-26.015
                            C611.999,170.737,609.213,161.212,601.671,153.75z M242.178,513.264L36.604,307.35l81.96-81.314l123.613,123.606L494.059,98.45
                            l80.958,81.954L242.178,513.264z"/>
                    </g>
                </svg>
            </button>
        </div>


    </ion-header-bar>
    <ion-content class="has-header">

        <div class="">

            <div class="row profilephotodiv">
                <div class="col col-10"></div>
                <div class="col col-80 textcenter">
                    <img src="{{usertypes[user.userstype-1].image}}" class="proidicon">
                    <h4 class="menuname  lightblackcolor">{{user.name}}</h4>
                    <h6 class="lightblackcolor menuprofileemail">{{usertypes[user.userstype-1].type}}</h6>
                    <a>
                        <p ng-click="showpromomodal()" ng-if="user.userstype==3">Check Your Promo Code</p>
                    </a>
                </div>
                <div class="col col-10"></div>

            </div>


            <div class="row marginbottom0" ng-class="{'marginbottom0':editprofile}" ng-if="user.userstype != 1">
                <div class="col col-20 textcenter">
                    <img src="img/profile/idcard.svg" class="proidicon">
                </div>
                <div class="col col-80 lightblackcolor">
                    <h5 class="lightblackcolor fontsize13 marginbottom12">{{user.userappid}}</h5>


                    <!--STANDARD-->
                    <h5 class="lightblackcolor fontsize13 marginbottom12" ng-if="!editprofile">{{user.standard}}</h5>

                    <!--<div class="input-field margintop0" ng-if="editprofile">
                        <select ng-model="user.standardid" ng-change="setstandard()">
                            <option value="" disabled selected>Choose your standard</option>
                            <option value="{{std.standardid}}" ng-repeat="std in standards">{{std.standard}}</option>
                        </select>
                    </div>-->

                    <!--SCHOOL-->
                    <h5 class="lightblackcolor fontsize13 " ng-if="!editprofile">{{user.school}}</h5>
                    <div class="input-field margintop0 profileeditimput" ng-if="editprofile">
                        <input id="school" type="text" class="validate noshadow marginbottom0 " placeholder="School" ng-model="user.school">
                    </div>
                    <a class="button button-icon icon ion-edit lightblackcolor editinput" ng-if="editprofile"></a>
                </div>

            </div>
        </div>

        <div class="row marginbottom0 marginbottom12" style="height: 49px;">
            <div class="col col-20 textcenter">
                <img src="img/profile/phone.svg" class="profilelefticons">
            </div>
            <div class="col col-80 lightblackcolor fontsize13">
                <p class="lightblackcolor displayinline phnumberdown" ng-if="!editprofile">{{user.contact}}</p>
                <div class="input-field margintop0 profileeditimput" ng-if="editprofile">
                    <input id="contact" type="text" class="validate noshadow marginbottom0 " placeholder="Contact" ng-model="user.contact">
                </div>
                <a class="button button-icon icon ion-edit lightblackcolor editinput" ng-if="editprofile"></a>
                <!--<a class="waves-effect waves-light btn primarybg changenumberbtn  boldbutton nouppercase" ng-if="editprofile" ng-click="changenummodal()">Change</a>-->
            </div>
        </div>

        <div class="row marginbottom0 marginbottom12" ng-class="{'marginbottom0':editprofile}">
            <div class="col col-20 textcenter">
                <img src="img/profile/email.svg" class="proemailicon">
            </div>
            <div class="col col-80 lightblackcolor fontsize13">
                <p class="lightblackcolor displayinline phnumberdown" ng-if="!editprofile">{{user.email}}</p>
                <div class="input-field margintop0 profileeditimput" ng-if="editprofile">
                    <input id="email" type="email" class="validate marginbottom0 " placeholder="name@company.com" ng-model="user.email">
                </div>
                <a class="button button-icon icon ion-edit lightblackcolor editinput" ng-if="editprofile"></a>
            </div>
        </div>

        <div class="row marginbottom0 marginbottom12" ng-click="gotopaq()" ng-if="!editprofile">
            <div class="col col-20 textcenter">
                <img src="img/profile/questionsasked.svg" class="proquesicon">
            </div>
            <div class="col col-80 lightblackcolor fontsize13">Questions Asked</div>
        </div>

        <div class="row marginbottom0 marginbottom12" ng-if="!editprofile && user.userstype==3 && user.userstype==1">
            <div class="col col-20 textcenter">
                <img src="img/profile/questionsleft.svg" class="prolefticon">
            </div>
            <div class="col col-80 lightblackcolor fontsize13" ng-if="user.userstype==3">Questions Left</div>
            <span class="badge badge-assertive questionleftbadge" ng-if="user.userstype==3">{{questionsleft}}</span>
            <div class="col col-80 lightblackcolor fontsize13" ng-if="user.userstype==1">Questions Answered</div>
            <span class="badge badge-assertive questionleftbadge" ng-if="user.userstype==1">{{questionsleft}}</span>
        </div>

        <div class="row textcenter">
            <a class="waves-effect waves-light btn primarybg marginauto boldbutton nouppercase" ng-if="editprofile" ng-click="changepassmodal()">Change Password</a>
        </div>

        <div class="row" style="border-top: 0.0001em #ababab solid;">
            <div class="col col-50 textcenter">
                <h3 class="primarycolor marginbottom0 profilecounts">{{profilecounts.askedcount}}</h3>
                <p class="textcenter margintop0 paddingtop0 marginbottom0">Questions </p>
                <p class="textcenter"> Asked</p>
            </div>
            <div class="col col-50 textcenter">
                <h3 class="primarycolor marginbottom0 profilecounts">{{profilecounts.answeredcount}}</h3>
                <p class="textcenter margintop0 paddingtop0 marginbottom0">Questions </p>
                <p class="textcenter"> Answered</p>
            </div>
        </div>

        <div class="row textcenter">
            <a class="waves-effect waves-light btn primarybg marginauto boldbutton nouppercase" href="#/app/leaderboard">Leaderboard</a>
        </div>





       


    </ion-content>
</ion-view>
